body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.container.full {
  width: 100%;
  height: 370px;
  background-color: #F9F9F9;
}

.menu {
  margin: auto;
  width: 59.72%;
  padding-top: 20px;
}

.menu > image {
  display: inline-block;
}
.fa-search {
  opacity: 0.5;
  display: inline;
  height: 17px;
  width: 16px;
  padding-left: 16px;
  padding-top: -20px;
}

.search {
  display: inline;

}
