body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.container.full {
  background-color: #F9F9F9;
  height: 370px;
  width: 1440px;
}
.container {
   width: 860px;
   margin: 0 auto;
   overflow: hidden;
}

.left { float: left; }
.right { float: right; }

.fa.fa-arrow {
  display: inline;
}
.btn {
   height: 40px;
   padding: 0 15px;
   line-height: 36px;
   display: inline-block;
   background: #4DC45F;
   color: #FFFFFF;
   text-decoration: none;
   border-radius: 3px;
}
.plus {
  font-size: 24px;
  display: inline;
  padding-right: 10px;
  line-height: 34px;
}

/* Header ---------- */

.header {
   height: 40px;
   padding: 25px 0;
}

   .header .logo {
      width: 40px;
      height: 40px;
      display: block;
      float: left;
      background: url('../images/logo.png') no-repeat;
      border-radius: 3px;
   }

   .search {
      width: 180px;
      float: left;
      margin: 0;
      padding: 0 20px 0 10px;
   }

      .search .search-input {
         -webkit-appearance: none;
         width: 100%;
         height: 40px;
         font-size: 16px;
         background: #EAEAEA url('../images/icon-search.svg') no-repeat 12px 11px;
         border-radius: 3px;
         border: none;
         outline: none;
         padding-left: 26px;
         box-sizing: border-box;
      }

   ul.menu {
      margin: 0;
      padding: 12px 0;
      float: left;
   }

      ul.menu li {
         float: left;
         padding: 0 20px 0 0;
      }

         ul.menu li a {
            color: #656565;
            text-decoration: none;
            font-weight: 300;
         }

.arrow {
  display: inline;
  color: #D8D8D8;
}

.dashboard {
  padding-top: 5px;
}

.date {
  color: #656565;
  font-size: 13px;
}

.tracker {
  padding-top: 10px;
}

.tracker > li {
  width: 278px;
  height: 170px;
  display: block;
  float: left;
  text-align: center;
  line-height: 132px;
  font-size: 40px;
  margin-right: 13px;
  border-radius: 3px;
  color: #FFFFFF;
}

  .tracker > li:last-child {
    margin-right: 0;
  }

.pending {
  background-color: #F7D17F;
}

.paid {
  background-color: #4DC45F;
}

.overdue {
  background-color: #D6D6D6;
}

.bottom {
  background-color: rgba(255,255,255,0.13);
  border-bottom: 1px solid rgba(255,255,255,0.13);
  font-size: 14px;
  height: 36px;
  line-height: 34px;
}

/* ----- Content ---- */
.table > li {
  color: #656565;
  font-size: 13px;
  float: left;
  margin-top: 58px;
  display: block;
  width: 278px;
  padding-right: 13px;
}
  .table > li:last-child {
    padding-right: 0;
    text-align: right;
  }

.content {
  overflow: hidden;
}

.line1 {
    border-bottom: 1px dotted #E8E8E8;
    height: 69px;
}
.line1 > li {
  display: inline-block;
  width: 278px;
  float: left;
  padding-right: 13px;
  margin-top: 27px;
  font-size: 16px;
  color: #656565;
}

.line1 > li:last-child {
  padding-right: 0;
  text-align: right;
}

.line1 > li > div {
  display: inline;
  float: left;
  margin-right: 16px;
}

.g {
  color: #A76ADD;
  display: inline-block;
  background-color: #F4E8FF;
  height: 36px;
  width: 36px;
  border-radius: 3px;
  line-height: 34px;
  text-align: center;
  margin-top: -10px;
}

.rebranding {
  color: #FFFFFF;
  display: inline-block;
  background-color: #8B572A;
  height: 20px;
  width: 70px;
  border-radius: 3px;
  line-height: 18px;
  font-size: 11px;
  text-align: center;
}
.line2 > li {
  display: inline-block;
  width: 278px;
  float: left;
  padding-right: 13px;
  margin-top: 27px;
  font-size: 16px;
  color: #656565;
}

.line2 > li:last-child {
  padding-right: 0;
  text-align: right;
}

.line2 > li > div {
  display: inline;
  float: left;
  margin-right: 16px;
}

.j {
  color: #FF8A28;
  display: inline-block;
  background-color: #FFF2E7;
  height: 36px;
  width: 36px;
  border-radius: 3px;
  line-height: 34px;
  text-align: center;
  margin-top: -10px;
}

.column1 {
  margin-top: -6.50px;
}

.line2 {
  border-bottom: 1px dotted #E8E8E8;
  height: 69px;
}

.line3 > li {
  display: inline-block;
  width: 278px;
  float: left;
  padding-right: 13px;
  margin-top: 27px;
  font-size: 16px;
  color: #656565;
}

.line3 > li:last-child {
  padding-right: 0;
  text-align: right;
}

.line3 > li > div {
  display: inline;
  float: left;
  margin-right: 16px;
}

.d {
  color: #0069FF;
  display: inline-block;
  background-color: #F2F7FF;
  height: 36px;
  width: 36px;
  border-radius: 3px;
  line-height: 34px;
  text-align: center;
  margin-top: -10px;
}
