body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.container {
   width: 860px;
   margin: 0 auto;
   overflow: hidden;
}

.left { float: left; }
.right { float: right; }

.btn {
   height: 40px;
   padding: 0 15px;
   line-height: 38px;
   display: inline-block;
   background: #4DC45F;
   color: #FFFFFF;
   text-decoration: none;
   border-radius: 3px;
}

/* Header ---------- */

.header {
   height: 40px;
   padding: 20px 0;
}

   .header .logo {
      width: 40px;
      height: 40px;
      display: block;
      float: left;
      background: url('../images/logo.png') no-repeat;
      border-radius: 3px;
   }

   .search {
      width: 180px;
      float: left;
      margin: 0;
      padding: 0 20px 0 10px;
   }

      .search .search-input {
         -webkit-appearance: none;
         width: 100%;
         height: 40px;
         font-size: 16px;
         background: #EAEAEA url('../images/icon-search.svg') no-repeat 12px 11px;
         border-radius: 3px;
         border: none;
         outline: none;
         padding-left: 26px;
         box-sizing: border-box;
      }

   ul.menu {
      margin: 0;
      padding: 12px 0;
      float: left;
   }

      ul.menu li {
         float: left;
         padding: 0 20px 0 0;
      }

         ul.menu li a {
            color: #555555;
            text-decoration: none;
         }
